a:hover:after{
  width: 100%;
  left: 0%;
  background: black;
}

.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid black;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .8;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: #f56600;
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}
a {
  color: white !important;
}

#index {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("../src/img/wall/wallpape_wood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-attachment: fixed;
}

.title h1 {
  font-size: 4vw;
  font-family: "JB";
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

.proyecto {
  background-color: rgba(0, 0, 0, 0.6) !important;
  border: 2px groove #009a85 !important;
}

.proyecto .card {
  background-color: rgba(0, 0, 0, 0) !important;
}

.proyecto .card-text {
  font-size: 1.1vw;
}

.carousel-indicators li {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #f56600 !important;
  border: 1px solid black !important;
}

.carous .fa-angle-double-left,
.carous .fa-angle-double-right {
  color: #f56600 !important;
  font-size: 40px;
  margin-bottom: 60px;
  text-shadow: 2px 2px 5px black;
}

.modal-body h3 {
  text-shadow: 0px 0px 2px black;
  font-size: 45px;
}

@media screen and (max-width: 1000px) {
  .title h1 {
    font-size: 40px;
  }

  .carous .fas {
    font-size: 65px;
    margin-top: -100px;
  }
  .proyecto .card-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  .carous .fas {
    font-size: 50px;
    margin-top: -60px;
  }
  .proyecto .card-text,
  .proyecto .btn {
    font-size: 12px;
  }
}

@media screen and (min-width: 1219px) {
  .title h1 {
    font-size: 60px;
  }

  .proyecto .card-text {
    font-size: 15px;
  }
}
